body {
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
}
p {
    margin: 0
}
#CurrentRoom {
    text-align: center;
}
#Chatbox {
    height: 500px;
    width: 65%;
    margin: 25px auto;
    background: #f5f5dc;
    overflow: auto;
}
.modal { width: 50% !important ; max-height: 100% !important ;}
i{
    /*margin-right: 4px;*/
    position: relative;
    top: 2px
}
#users{
  width: 7%;
}
