body {
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
}
p {
    margin: 0
}
#CurrentRoom {
    text-align: center;
}
#Chatbox {

    height: 700px;
    width: 85%;
    margin: 25px auto;
    background: #f5f5dc;
    overflow: auto;
}
.modal { width: 75% !important ; max-height: 100% !important ;}
